# SECRET_KEY can be randomly generated using get_random_secret_key from django.core.management.utils

# We need to run a python shell to get SECRET_KEY by typing:
# >>> from django.core.management.utils import get_random_secret_key
# >>> print(get_random_secret_key())
# You will get SECRET_KEY as an output the take the output and assign to SECRET_KEY.
SECRET_KEY = secret-key-value-without-quotes 

# set DEBUG to True for testing, False for actual use
DEBUG = False

# set TIME_ZONE to UTC for Coordinated Universal Time or Asia/Bangkok for Bangkok, Thailand
TIME_ZONE = Asia/Bangkok

# set ALLOWED_HOSTS
ALLOWED_HOSTS = localhost,127.0.0.1