body {
    background: white url("images/background.png") no-repeat;
}

#link {
    color: #1C6758;
    font-size:40px;
    padding: 10px;
}

#title {
    color: #0f460d;
    padding-top: 30px;
    font-size: 60px;
}

#question {
    color: #0f460d;
    padding: 30px;
    font-size: 20px;
}

#button {
    background-color: #EEF2E6;
    color: #0f460d;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.index-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#interact-button {
    background-color: #e0ffcc;
    color: #0f460d;
    font-weight: bold;
    font-size: 20px;
}

#interact-button:hover {
    background-color: #a0e970;
}

#button-text {
    color: #0f460d;
    font-weight: bold;
    font-size: 20px;
}

.choice {
    font-size: 25px;
    color: #3D8361;
    padding-left: 75px;
}

#back-button {
    padding: 10px;
    margin-left: 50px;
}

#result {
    color: #0f460d;
    padding-top: 40px;
    padding-left: 40px;
    font-size: 60px;
}
